// Specific CSS for your home-page

html {
  scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#test-riasec {
  min-height: 600px;
  clear: after;
}

#section2 {
  height: 600px;
}

.masthead-img {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.7)), url('../assets/images/mountain-climber-home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  // padding-top: 50px;
  overflow: hidden;
}

#loading {
    -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

@media (max-width: 1023px) {
  .o-section-home {
  padding-bottom: 0;
  background-size: 150% auto;
  }

  .o-section-home__select-gender {
    margin-top: -30px;
  }

  .a-button-gender {
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 479px) {
  .a-button-gender {
    min-width: 150px;
    min-height: 150px;
  }
  .masthead-img {
  height: 150vh;
  }
}

@media (max-width: 767px) {
.m-select-gender {
    // -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 1023px) {
.o-section-home__select-gender {
    margin-top: -30px;
  }
}

.m-select-gender__text {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.section-first {
    padding-top: 260px;
    padding-bottom: 70px;
  }

.o-section-home {
  position: relative;
  margin-top: -30px;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  }

.o-section-home__select-gender {
    margin-top: -30px;
  }

.a-button-gender {
    width: 250px;
    height: 250px;
  }

// .o-section-home__select-gender {
//     margin-top: 100px;
// }
.m-select-gender {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.a-button-gender {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    // width: 430px;
    // height: 430px;
    cursor: pointer;
}

.a-button-gender__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.a-button-gender__icon {
    position: relative;
    fill: #fff;
    width: 77px;
    height: 95px;
    margin-bottom: 5px;
}

.a-button-gender__circle {
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-image: linear-gradient(135deg, #f0da4a 0%,#ff005e 100%);
    -webkit-box-shadow: 0 20px 30px 0 rgba(255, 255, 255, 0.15);
    box-shadow: 0 20px 30px 0 rgba(255, 255, 255, 0.15);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.img-gender {
    border: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3x white;
}

.img-gender-f {
    border: 0;
    width: 102px;
    height: 101px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3x white;
}

.pulse-button {

  position: relative;
  border: none;
  box-shadow: 0 0 0 0 #dfb044;
  border-radius: 50%;
  // background-image: url(YOUR-URL-IMAGE.png);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}



.overlay {
  background-color: #444;
  padding-top: 15px;
  padding-bottom: 15px;
}

.overlay h2 {
  font-weight: bold;
  color: white;
}

.a-button-gender:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;animation: none;
}

.a-button-gender--man .a-button-gender__circle {
    background-image:-webkit-gradient(linear,left top,right top,from(#33f5e0),to(#da0641));
    background-image:linear-gradient(135deg, #f0da4a 0%,#ff005e 100%);
    -webkit-box-shadow: 0 20px 30px 0 rgba(255, 255, 255, 0.15);
    box-shadow: 0 20px 30px 0 rgba(255, 255, 255, 0.15);
}

.a-button-gender__circle--1 {
    width: 78%;
    height: 78%;
    z-index: 2;
}

.a-button-gender__circle--2 {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.a-button-gender__circle--3 {
    width: 55%;
    height: 55%;
    transition: all .35s ease;
}

.a-button-gender__text {
    position: relative;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    z-index: 2;
}


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
