// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.bg-login-image {
  background: url('https://images.unsplash.com/photo-1536478922953-936c5cf65665');
  background-position: bottom;
  background-size: cover;
}

.bg-register-image {
  background: url('https://images.unsplash.com/photo-1491911923017-19f90d8d7f83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url('https://cdn.pixabay.com/photo/2018/07/24/13/46/sport-3559216_1280.jpg');
  background-position: top;
  background-size: cover;
}

.bg-edit-image {
  background: url('https://cdn.pixabay.com/photo/2017/04/25/05/45/basketball-2258651_1280.jpg');
  background-position: top;
  background-size: cover;
}

// background: url('http://www4.pictures.zimbio.com/gi/Eric+Cantona+Mad+Kings+Red+Carpet+10th+Rome+K9VY4JxJy0tl.jpg');


.form-check-label {
  margin-left: 24px;
}

form.user {

  .custom-checkbox {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  background-color: #ea4335;
}

.btn-facebook {
  background-color: #ea4335;
}


