// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.bg-login-image {
  background: url('https://i.pinimg.com/originals/c3/91/19/c391190f344973129f9409f05c3c0956.jpg');
  background-position: top;
  background-size: cover;
}

.bg-register-image {
  background: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800');
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url('http://www1.pictures.gi.zimbio.com/Eric+Cantona+Looking+Eric+Photocall+2009+Cannes+LCPHJB9rgGKl.jpg');
  background-position: top;
  background-size: cover;
}
  // background: url('http://www4.pictures.zimbio.com/gi/Eric+Cantona+Mad+Kings+Red+Carpet+10th+Rome+K9VY4JxJy0tl.jpg');
form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  background-color: #ea4335;
}

.btn-facebook {
  background-color: #ea4335;
}


