<div class="container-results">
  <div class="avatar-personnality">
    <h2>Ta personnalité</h2>

      <%= image_tag (@personality_riasec.avatar_f), class: "avatar-results-large", alt: "avatar-results-large" %>

    <h2><%= @personality_riasec.name %></h2>
    <h4><%= @personality_riasec.description %></h4>
  </div>

  <div class="cards-results-quiz">

    <div class="card-category-career-results">
      Métier 1
    </div>

    <div class="card-category-career-results">
      Métier 2
    </div>

    <div class="card-category-career-results">
      Métier 3
    </div>

  </div>
</div>
