<div class="container-results">
  <div class="avatar-personnality">
    <h2>Tu es un</h2>

      <%= image_url(personality_riasec.avatar_f), class: "avatar-results-large", alt: "avatar-results-large" %>

    <h2>Personalité <%= @user.users_personalities.personality_riasec %></h2>
  </div>

  <div class="cards-results-quiz">

    <div class="card-category-career-results" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category-career-results" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>

    <div class="card-category-career-results" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>

  </div>
</div>
