<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead-img">
  <div class="container h-100 bg-overlay">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1><strong>Votre carrière a de la valeur</strong></h1>
        <h4>Vous souhaitez donner un nouvel élan à votre carrière ?
        </h4>
        <br><br>
        <button type="button" class="btn btn-warning btn-lg">Faites le test !</button>
        </div>
    </div>
  </div>
</header>
  <!-- Header -->

