<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead-img">
  <div class="container h-100 bg-overlay">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1>Votre carrière a de la valeur</h1>
        <h4>Vous souhaitez donner un nouvel élan à votre carrière ?
          "<strong>Faites le test !</strong>"</h4>
        <br><br>
        <button type="button" class="btn btn-warning btn-lg">Faites le test !</button>
        </div>
    </div>
  </div>
</header>
  <!-- Header -->
  <section class="masthead d-flex">
    <div class="container text-center my-auto">
<!--       <h1 class="mb-1">Stylish Portfolio</h1>
      <h2 class="mb-5">
        <em>A Free Bootstrap Theme by Start Bootstrap</em>
      </h2> -->
      <div class="o-section-home__select-gender m-select-gender js-select-gender">
        <div data-href="/2" class="m-select-gender__button-gender js-select-gender-button a-button-gender--man a-button-gender js-button-gender bodyClass dietAnswer" data-key="1755" data-value="327" data-body-class-value="men-theme" data-pixel-event="User Profile" data-pixel-key="male" data-pixel-value="1">
          <div class="a-button-gender__background">
              <div class="a-button-gender__circle a-button-gender__circle--1 js-button-circle" style="opacity: 0.11137; transform: translate3d(0px, 0px, 0px) scale(0.962274, 0.962274);">
              </div>
              <div class="a-button-gender__circle a-button-gender__circle--2 js-button-circle" style="opacity: 0.0849287; transform: translate3d(0px, 0px, 0px) scale(0.984929, 0.984929);">
              </div>
          </div>
           <div class="a-button-gender__content">
                <div class="a-button-gender__circle a-button-gender__circle--3 js-button-circle-main" style="opacity: 0.9;"></div>
                <svg class="a-icon a-button-gender__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/keto/sprite.svg#icon-man"></use>
                </svg>
                <div class="a-button-gender__text">Sportif</div>
            </div>
          </div>
          <div class="m-select-gender__text" style="color: white">ou</div>
          <div data-href="/2" class="m-select-gender__button-gender js-select-gender-button  a-button-gender js-button-gender bodyClass dietAnswer" data-key="1755" data-value="328" data-body-class-value="woman-theme" data-pixel-event="User Profile" data-pixel-key="female" data-pixel-value="1">
          <div class="a-button-gender__background">
          <div class="a-button-gender__circle a-button-gender__circle--1" style="opacity: 0.29699; transform: translate3d(0px, 0px, 0px) scale(0.999398, 0.999398);"></div>
          <div class="a-button-gender__circle a-button-gender__circle--2 js-button-circle" style="opacity: 0.0937528; transform: translate3d(0px, 0px, 0px) scale(0.993753, 0.993753);"></div>
          </div>
            <div class="a-button-gender__content">
                <div class="a-button-gender__circle a-button-gender__circle--3 js-button-circle-main" style="opacity: 0.9;">
                </div>
                <svg class="a-icon a-button-gender__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/keto/sprite.svg#icon-woman"></use>
                </svg>
                <div class="a-button-gender__text">Sportive</div>
            </div>
                    </div>
                    </div>
    </div>
    <div class="overlay"></div>
  </section>
