<p>Quizz</p>
<div class= "quizz container">
  <div class='col-md-4 col-xs-4'>
    <p> <%= @question.question %>  </p>
    <p> <%= image_tag @answer.photo , height: 300, width: 400, crop: :fill %> </p>
  </div>
</div>



<div class="container">
  <div class="cards">
    <div class="row align-items-start">
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">Breakfast
        </div>
      </div>
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Lunch
        </div>
      </div>
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Dinner
        </div>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="row align-items-start">
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> Breakfast
        </div>
      </div>
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Lunch
        </div>
      </div>
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Dinner
        </div>
      </div>
    </div>
  </div>
</div>
