<p>Quizz</p>
<div class= "quizz container">
  <div class='col-md-4 col-xs-4'>
    <p> <%= @question.question %>  </p>
    <p> <%= image_tag @answer.photo , height: 300, width: 400, crop: :fill %> </p>
  </div>
</div>


