<!-- @answers[1].photo -->
<div class="container">
  <% @questions.each do |question| %>
    <h3 class="text-center"> <%= question.question %> </h3>
      <div class="cards-quiz">
        <div class="row align-items-start">
        <% question.answers.each do |answer| %>
          <div class="col-xs-4">
            <div class="card-category-quiz" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url(answer.photo)%>')">
            <%= answer.answer %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
  <% end %>
</div>

