.avatar-large {
  width: 120px;
  border-radius: 50%;
}

.avatar-dashbord {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 12px;
}
.avatar-results-large {
  width: 180px;
  border-radius: 50%;
}


.avatar-personnality {
  align-items: center;
  text-align: center;
}
